.grid
  display: grid
  grid-template-areas:  "header header header" ". content ." "footer footer footer"
  grid-template-columns: minmax(20px, 1fr) minmax(280px, 1170px) minmax(20px, 1fr)
  grid-template-rows: 122px 1fr 240px
  align-items: center
  justify-content: center
  

.content
  grid-area: content

.footer
  grid-area: footer