*
  box-sizing: border-box

@function setShadowIcon($r, $g, $b)
  @return darken(rgba($r, $g, $b, 0.15), 5%)  

body 
  +regular
  background-color: blue
  color: $grey

.button
  padding: 20px 50px
  +bold
  font-size: 14px
  color: $blue
  text-transform: uppercase
  letter-spacing: 1px
  border: 0;
  border-radius: 50px
  background-color: #fff
  transition: 0.2s ease-out
  &:hover
    cursor: pointer
    background-color: lighten($blue, 32%)
  &:active
    background-color: lighten($blue, 27%)
  
.white
  color: white
.green
  color: $green

.h1
  +medium
  font-size: 68px

.subtitle 
  +bold
  text-transform: uppercase
  letter-spacing: 3px
  font-size: 12px

.title
  +medium
  font-size: 48px

.text
  +regular
  font-size: 20px

.block
  width: 370px
  height: 335px
  padding: 40px 50px
  background-color: #fff
  border-radius: 15px
  &-with
    display: flex
    flex-direction: row
    align-items: center
    width: 1170px
    height: 323px
    padding: 30px 30px 30px 24px
    &__img
      img
        display: block
        margin-left: -10px
    &__content
      margin-left: 50px
  &-icon
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    margin-bottom: 20px
    border-radius: 15px
  &-title
    margin-bottom: 15px
    +bold
    font-size: 22px
    color: $grey
  &-text
    +regular
    color: $grey-text
    line-height: 24px
  .i
    &-orange
      background-color: rgb(255, 231, 219)
      box-shadow: 0px 10px 20px setShadowIcon(255, 231, 219)
    &-green
      background-color: rgb(231, 242, 239)
      box-shadow: 0px 10px 20px setShadowIcon(231, 242, 239)
    &-green-dark
      background-color: rgb(192, 242, 239)
      box-shadow: 0px 10px 20px setShadowIcon(192, 242, 239)
    &-purple-dark
      background-color: rgb(237, 231, 242)
      box-shadow: 0px 10px 20px setShadowIcon(237, 231, 242)
    &-blue-dark
      background-color: rgb(216, 240, 250)
      box-shadow: 0px 10px 20px setShadowIcon(216, 240, 250)
    &-yellow
      background-color: rgb(250, 243, 216)
      box-shadow: 0px 10px 20px setShadowIcon(250, 243, 216)
    &-lilac
      background-color: rgb(218, 230, 255)
      box-shadow: 0px 10px 20px setShadowIcon(218, 230, 255)
    &-purple
      background-color: rgb(233, 229, 255)
      box-shadow: 0px 10px 20px setShadowIcon(233, 229, 255)
    &-blue
      background-color: rgb(206, 237, 255)
      box-shadow: 0px 10px 20px setShadowIcon(206, 237, 255)

.nav-list
  display: flex
  flex-direction: row
  padding: 0
  color: white
  list-style: none
  +medium
  font-size: 16px
  &__item
    margin-right: 32px
    &:last-child
      margin-right: 0
    &_active
      +bold
